@CHARSET "UTF-8";

figure > #spin {
	width: 20px;
	height: 20px;
	position: absolute;
    left: 215px;
    top: 211px;
	background-color: white;
	border-radius: 50%;	
	border: 1px solid black;
	transform: translateY(-145px) translateX(25px);
	animation: spin  3s  linear  3;
	animation-delay: 1s;
}

section >form  {
	padding-left: 8em;
}

section >form > #reset {
	box-sizing:border-box;
	border: 3px solid red;
	color: black;
	font-weight:bolder;
	background-color: green;
	width: 13em;
	height: 3em;
}	

@keyframes spin {
    from { transform: rotate(0deg)  translateY(-145px) translateX(28px); }
    to   { transform: rotate(360deg)  translateY(-145px) translateX(28px); }
}